body{
    background-color: burlywood;
}
p{
    font-size: 40px;
    color: burlywood;
    background-color: antiquewhite;
}
li{
    color: coral;
    font-size: 40px;
    font-family: chiller;
    font-style: italic;
    background-color: blanchedalmond;
}